In [ ]:
# q1 puthon program to display al headers tags from main page of en.wikipeidia

!pip install bs4
!pip install requests

In [ ]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
from lxml import html

In [ ]:
wikipage=requests.get("https://en.wikipedia.org/wiki/Main_Page")
wikipage

In [ ]:
wikipage.content

In [ ]:
soup = BeautifulSoup(wikipage.content)
soup

In [ ]:
print(soup.prettify)

In [ ]:
headers=soup.find_all('span',class_='mw-headline')
headers

In [ ]:
wiki_headers = []
for i in headers:
    wiki_headers.append(i.text.strip())
wiki_headers

In [47]:
headertag=pd.DataFrame({})
headertag['Headertag']=wiki_headers
headertag

                       Headertag
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

In [ ]:
# Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of rle)

In [ ]:
import pandas as pd 
from bs4 import BeautifulSoup
import requests
from lxml import html

In [ ]:
top100IMDB=requests.get("https://www.imdb.com/list/ls055592025/")
top100IMDB

In [ ]:
top100IMDB.content

In [ ]:
soup=BeautifulSoup(top100IMDB.content)
soup

In [ ]:
print(soup.prettify)

In [ ]:
movies_name=soup.find_all('h3',class_="lister-item-header")
movies_name

In [ ]:
top_movies=[]
for i in movies_name:
    top_movies.append(i.text.replace('\n',''))
top_movies

In [ ]:
year_release=soup.find_all('span',class_='lister-item-year text-muted unbold')
year_release

In [ ]:
YROFREL=[]
for i in year_release:
    YROFREL.append(i.text.strip())
YROFREL

In [ ]:
IMDB_rating=soup.find_all('div',class_='ipl-rating-star small')
IMDB_rating

In [ ]:
rating_movies=[]
for i in IMDB_rating:
    rating_movies.append(i.text.strip())
rating_movies

In [45]:
topmovies=pd.DataFrame({})
topmovies['TOP100 movies']=top_movies
topmovies['IMDB rating']=rating_movies
topmovies['Year of release']=YROFREL
topmovies

                       TOP100 movies IMDB rating Year of release
0              1.The Godfather(1972)         9.2          (1972)
1   2.The Shawshank Redemption(1994)         9.3          (1994)
2           3.Schindler's List(1993)         8.9          (1993)
3                4.Raging Bull(1980)         8.2          (1980)
4                 5.Casablanca(1942)         8.5          (1942)
..                               ...         ...             ...
95              96.Rear Window(1954)         8.5          (1954)
96            97.The Third Man(1949)         8.1          (1949)
97    98.Rebel Without a Cause(1955)         7.7          (1955)
98       99.North by Northwest(1959)         8.3          (1959)
99     100.Yankee Doodle Dandy(1942)         7.7          (1942)

[100 rows x 3 columns]

In [ ]:
#rite a python program to scrap book name, author name, genre and book review of any 5 books from www.bookpage

In [ ]:
import pandas as pd 
from bs4 import BeautifulSoup
import requests
from lxml import html

In [ ]:
import urllib.request
main_url = 'https://bookpage.com/reviews'
sauce = urllib.request.urlopen(main_url).read()

soup = BeautifulSoup(sauce,'html.parser')

In [ ]:
bookname=soup.find_all('h4',class_='italic')
bookname

In [ ]:
book_name=[]
for i in bookname[:5]:
    book_name.append(i.text.strip())
book_name

In [ ]:
bookauthor=soup.find_all('p',class_='sans bold')
bookauthor

In [ ]:
book_author=[]
for i in bookauthor[:5]:
    book_author.append(i.text.strip())
book_author

In [ ]:
bookgenre=soup.find_all('p',class_='genre-links hidden-phone')
bookgenre

In [ ]:
book_genre=[]
for i in bookgenre[:5]:
    book_genre.append(i.text.strip())

In [ ]:
book_genre

In [ ]:
bookreview=soup.find_all('p',class_='excerpt')

In [ ]:
bookreview

In [ ]:
book_review=[]
for i in bookreview[:5]:
    book_review.append(i.text.strip())
book_review

In [46]:
book=pd.DataFrame({})
book['Bookname']=book_name
book['Author Name']=book_author
book['Genre']=book_genre
book['Review']=book_review
book

,Bookname,Author Name,Genre,Review
0,★ The Book of Form and Emptiness,Ruth Ozeki,Fiction\n / \nLiterary Fiction,Ruth Ozeki’s prose is magnetic as she draws re...
1,Daughter of the Morning Star,Craig Johnson,Mystery & Suspense\n / \nMystery,"Daughter of the Morning Star, the 17th book in..."
2,★ Carry On,"John Lewis, Don Cheadle",Audio\n / \nNonfiction\n / \nEssays,While John Lewis was unable to record his essa...
3,The Morning Star,"Karl Ove Knausgaard, Martin Aitken",Fiction\n / \nLiterary Fiction,"The Morning Star is dark, eerie, mesmerizing a..."
4,★ The Beatryce Prophecy,"Kate DiCamillo, Sophie Blackall",Children's\n / \nMiddle Grade,In a return to the fantasy genre of her Newber...